@tailwind base;
@tailwind components;
@tailwind utilities;


.pro-btn{
  background-image: linear-gradient(to right, rgb(251, 113, 133), rgb(217, 70, 239), rgb(99, 102, 241), rgb(217, 70, 239),rgb(251, 113, 133)),
                    linear-gradient(to right, rgb(251, 113, 133), rgb(217, 70, 239), rgb(99, 102, 241), rgb(217, 70, 239),rgb(251, 113, 133));
  background-size: 200% 100%;
  animation: text-gradient 2s linear infinite;
  color: #fff;
}

@keyframes text-gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}